UI--TabBar{
    background: rgb(199,88,135);
    min-height: 38px;
    max-height: 38px;
}

#tabbar_tabs{
    min-height: 30px;
    max-height: 30px;
}

#tabbar_tabs::tab {
    background: rgb(220,221,222);
    border: none;
    border-bottom-color: rgb(199,88,135);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-width: 8ex;
    padding: 2px;
    margin-right: 2px;
    min-height: 30px;
    max-height: 30px;
}

#tabbar_tabs::tab:selected,
#tabbar_tabs::tab:hover {
    background: rgb(237,238,239);
}

#tabbar_tabs::tab:!selected {
    margin-top: 0px; /* make non-selected tabs look smaller */
}

/* make use of negative margins for overlapping tabs */
#tabbar_tabs::tab:selected {
    /* expand/overlap to the left and right by 4px */
    margin-left: 0px;
}

#tabbar_tabs::tab:first:selected {
    margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
}

#tabbar_tabs::tab:last:selected {
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

#tabbar_tabs::tab:only-one {
    margin: 0; /* if there is only one tab, we don't want overlapping margins */
}

#tabbar_tabs::close-button {
    image: url(:/icons/icon_remove_disabled.svg);
    image-position: center;
    subcontrol-origin: padding;
    subcontrol-position: right;
    margin-right: 4px;
}

#tabbar_tabs::close-button:hover
{
    image: url(:/icons/icon_remove.svg);
}

#tabbar_add_button{
    /*border-image: url(:/icons/icon_add_disabled.svg);*/
    background: rgb(212, 215, 213);
    margin-top: 10px;
    min-height: 18px;
    max-height: 18px;
    min-width: 18px;
    max-width: 18px;
    border-radius: 2px;
    border: none;
    border-style: none;
}


